
body {
  margin: 0;
  height: 100vh;
  background-image: url('./images/expansionBg-flat-7d0981e5817773ca153c92bd7bb882c9fe38cdd91acc3942a8b1bb5d607fca2a25f7236d526e81e2f1d288f2621765835f3069c3d9c4fcec4e74129693f9724b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/* @font-face {
    font-family: 'belwelight';
    src: url('./assets/belwe/BelweLightBT.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

} */


.belwelight{
  font-family: 'belwelight';
}

* {
  box-sizing: border-box;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0); /* Black w/ opacity */

}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
  font-size:xx-large;
  display: flex;
  height: 30%;
  border-radius: 15px;
  background-image: linear-gradient(#73471C, #FCD237);

}




.modal-error{
margin: auto;
}
.title {
user-select: none;

height: 15vh;
display: inline-block;
width: 100%;
text-align: center;
font-size: 700%;
  background: -webkit-linear-gradient(#73471C, #FCD237);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

font-weight: bold;

}

.title-container{
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 10px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 5px;
  padding-right: 5px;


}



.main {
  display: flex;

  height: 80vh;


}


.container{
  height: 100%;
  width: 83%;
  pointer-events: visiblePainted;
  display: flex;
  flex-wrap: wrap;
}
.stats{
  user-select: none;
  font-size: large;
}
#stats1, #stats7 {

background-image: linear-gradient(#73471C, #FCD237);
border-radius: 50px;
}
#stats2 {
background-image: linear-gradient(#73471C, #FCD237);
border-radius: 50px;
}
#stats3{
background-image: linear-gradient(#73471C, #EDA115);
border-radius: 50px;
}
#stats4{
background-image: linear-gradient(#7E7463, #EDA115);
border-radius: 50px;
}
#stats5{
background-image: linear-gradient(#73471C, #EDA115);
border-radius: 50px;
}
#stats6{
background-image: linear-gradient(#7E7463, #EDA115);
border-radius: 50px;
}

.cardContainer:hover:not(:focus){
  transform: translateY(-5px);
}

.cardContainer{

  height: 30%;
  box-sizing: border-box;
  margin: 10px;
  width: 13%;
  display: flex;
  position: relative;
}

.outerCard{
background-image: url('./images/Card_back-Legend-202x300.png');
background-size: contain;
display: inline-block;
height: 112%;
width: 100%;
cursor: pointer;


}
.outerCard, .innerCard{

background-repeat: no-repeat;
background-position: center;
position: absolute;


}
.innerCard{
  background-size: contain;
  display: inline-block;
  height: 99%;
width: 100%;
}

.card1{
  background-image: url('./images/enUS_HighInquisitorWhitemane.png');
  background-size: 135%;

}
.card2{
  background-image: url('./images/enUS_Brightwing.png');
  background-size: 135%;
}

.card3{
  background-image: url('./images/enUS_Siegebreaker.png');
  background-size: 135%;
}
.card4{
  background-image: url('./images/New_enUS_EVILMiscreant.png');
  background-size: 89%;
}
.card5{
  background-image: url('./images/New_enUS_ArchivistElysiana.png');
  background-size: 88%;
}
.card6{
  background-image: url('./images/ArchmageVargoth_enUS.png');
  background-size: 135%;
}
.card7{
  background-image: url('./images/ArchVillainRafaam_enUS.png');
  background-size: 135%;
}
.card8{
  background-image: url('./images/BaristaLynchen_enUS.png');
  background-size: 135%;
}
.card9{
  background-image: url('./images/AzeriteElemental_enUS.png');
  background-size: 135%;
}



.sideBar{
  pointer-events: none;
  display:inline-block;
  text-align: center;
  width: calc(17% - 20px);
  height: 100%;
  bottom: 8%;
  box-sizing: border-box;
  position: relative;
}
.stats{
display: inline-block;
padding: 15px;
margin: 15px 5px 15px 35px;
width: 65%;
height: 11%;
background-color: purple;
text-align: center;
}

.alert{
  height: 45%;
  width: 40%;
  position: absolute;
  top: 31%;
  left: 31%;
  background-image: url('./images/win-gif.gif');
  background-size:cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
border-style: solid;
  border-width: 3px;
  border-color:  black;
  font-size: 300%;
  color: gold;

}
.introBox{
  user-select: none;
  height: 78%;
  width: 58%;
  position: absolute;
  top: 16%;
  left: 23%;
  background-image: url('./images/hearthstone-opening-gif.gif');
  background-size:cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 25px;
  font-size: 300%;
  color: gold;


  border-style: solid;
  border-width: 5px;
  border-color:  black;

}
.alertButton {
height: 13%;
width: 16%;
background-image: linear-gradient(#73471C, #FCD237);
position: absolute;
top: 74%;
left: 44%;
padding: 5px;
font-size: 20px;
font-weight: bold;
border-radius: 25px;
border-style: solid;
  border-width: 1px;
  border-color:  black;
cursor: pointer;


}

.alertButton:hover {
  background-image: linear-gradient(#7E7463, #EDA115);

}

.hidden{
  display: none;
}
/*landscape tablet*/
@media (max-width: 1100px) {
.stats{
  height: 14%;
}

.introBox {
  height: 78%;
  width: 85%;
  left: 7%;
}
.alert{
    width: 62%;
    left: 20%;
  }
.innerCard{
  width: 117%;
}
}
@media (max-width: 953px){
  .stats {
    font-size: small;
  }
}
/*landscape phone view */
@media (max-width: 853px){
  .title {
      font-size: 400%;
      height: fit-content;
    }
  .alertButton {
    width: 19%;
    left: 41%;
    font-size: small;
  }
  .introBox {
    height: 87%;
    left: 23%;
    width: 58%;

  }

  .stats {
    width: 84%;
    height: 31%;
    margin: 13px;
    font-size: small;
  }

  .container {
    height: 88%;
    width: 86%;
  }

  .outerCard{
    height: 166%;
  }

  .innerCard{
    height: 162%;
    width: 100%;
  }

  .main {
    height: 68vh;
  }
  .cardContainer {
    margin-bottom: 27px;
    height:25%;
  }
  .alert{
    height: 79%;
    width: 62%;
    top: 5%;
    left: 20%;
  }
  .sideBar {
    font-size: x-small;
  }


}
